html, body {
    background: #23272f;
 
    font-family: 'system-ui', sans-serif;
    color: white;
  }

  .bodycontainer{
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background: #374151;
    width: 1000px;
    height: 600px;
    border-radius: 24px;
    box-shadow: 16px 16px 8px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .picture-container {
  
    width: 50%;
    height: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: start;
    align-items: center;
    
  }
  
  .design-container {
    height: 90%;
    width: 300px;
  }
  
  .design {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  
  .page-header {
    font-size: 2em;
    font-weight: 700;
    align-self: flex-start;
  }
  
  .about-text {
    /* padding: 20px; */
    margin-bottom: 30px;
    width: 100%;
    font-size: 100%;
    display: flex;
    justify-content: center;
  }
  
  .contact {
    border: none;
    outline: none;
    color: #fff;
    width: 50px;
    padding: 20px;
    background: #0d6d8c;
    font-size: 100%;
    font-weight: 600;
    border-radius: 6px;
    transition: transform 300ms 0s cubic-bezier(0, 0.23, 0.29, 2.45);
  }
  a{
    color:white;
    text-decoration: none;
  }
  .contact:hover {
    cursor: pointer;
    background: #2d8cab;
    transform: translateY(-2px);
  }
  @media (max-width:430px){
    
    .picture-container{
      display: none;
    }
    .container{
      width: 100%;
      height: 90%;
      
    }
    
    
   
    .design{
      display: flex;
      justify-content: space-around;
    }
    .contact:hover {
      cursor: pointer;
      background: #2d8cab;
      transform: translateY(-2px);
    }
  }