html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {

    background-color: #2E3440;
    font-family: system-ui, sans-serif;
    color: hsl(0, 0%, 91%);
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    color: hsl(0, 0%, 94%);
    font-weight: 700;
}

a{
    color: #bbc5d8;
}

.hc4-container{
    background-color: #373c46;
    padding: 30px;
    border: solid 1px #373c46;
    border-radius: 30px;
}
.admin_form{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}





.hiw-list__counter{
    color: whitesmoke;
    border-color: whitesmoke;
}
.ao7-text-component__block img{
    margin: 0 auto;
}
