<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="css\About.css">
</head>
<body>
  <div class="container">
    <div class="picture-container">
    <div class="picture">
      <img src="Resources\team.png" alt="team" width = '400'>
    </div>
    </div>
    <div class="design-container">
    <form class="design">
      <div class="page-header">About Us</div>
      <div class="about-text">We are a team of five passionate students
         committed to helping CS/SWE students find their ideal career path.
          Through mentorship, advice, and a supportive community, we aim to empower individuals
           in finding their suitable path.
            Together, let's unlock the doors to endless possibilities and pave the way for a successful and fulfilling career in the world of technology.</div>
      <button class="contact" type="submit"><a href="contact-us">Contact Us</a></button>
    </form>
      </div>
  </div>
</body>
</html>