<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/loader.css">
    <title>home</title>
</head>
<body>
    <%- include("partials/loader.ejs") %>
    <h1 id="h1">this is the main page <%- datas %></h1>
    <a href="/modules/path.ejs">link</a>
</body>

    <script src="/js/screen-saver.js"></script>
</html>