<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    



<form class="login-form" action="/login" method="post">
    <div class="lq2-text-component lq2-text-center lq2-margin-bottom-sm">
      <h1>Log in</h1>
      <p>To Discover your Appropriate Career Path.</p>
    </div>
  
    
  

  
    <div class="lq2-margin-bottom-sm">
      <label class="lq2-form-label lq2-margin-bottom-3xs" for="email">Email</label>
      <input class="lq2-form-control lq2-width-100% lq2-backgroundcolor" type="email" name="email" id="input-email" placeholder="email@myemail.com">
    </div>
  
    <div class="lq2-margin-bottom-sm">
      <div class="lq2-flex lq2-justify-between lq2-margin-bottom-3xs ">
        <label class="lq2-form-label" for="password">Password</label> 
      </div>
  
      <input class="lq2-form-control lq2-width-100% lq2-backgroundcolor" type="password" name="password" id="input-password">
    </div>
  
    <div class="lq2-margin-bottom-sm">
      <button class="lq2-btn lq2-btn--primary lq2-btn--md lq2-width-100%" type="submit">Login</button>
    </div>
  
    <div class="lq2-text-center">
      <p class="lq2-text-sm">Don't have an account? <a href="/register">Get started</a></p>
    </div>
  </form>
    
</body>
</html>