<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>path</title>
</head>
<body>
  <!-- pathName, and article are the two variables you can use in this page to get data 
    note: you should use the same tag used in article if you want to insert html elements into the page-->
    <h1><%= pathName %></h1>
    <section><%- intro  %></section>
    <article> <%- article %></article>
    
    <textarea id="textArea" cols="50" rows="50" style="display: block;"></textarea>
    <button id="edit">Edit Article</button>
    <button id="saveButton">Save</button>
</body>
<script type="module" src="/js/button_Handlers.js"></script>

</html>