<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>path</title>
</head>
<body>
  <!-- pathName, and article are the two variables you can use in this page to get data -->
    <h1><%= pathName %></h1>
    <article> <%- article %></article>
</body>
</html>