<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/css/quests.css'>
  <link rel='stylesheet' href='/css/loader.css'>
  <link rel="stylesheet" href="/css/index.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
    type='text/css'>
  <%- include('./partials/head.ejs') %>

    <title>Quests</title>
</head>

<body>


  <header class="header mf1-position-relative js-header ">
    <div class="header__container mf1-container mf1-max-width-lg">
      <div class="header__logo">
        <a class="header__logo" href="/">
          DevPath
        </a>
      </div>

      <div class="mf1-btn mf1-btn--subtle header__trigger js-header__trigger" aria-label="Toggle menu"
        aria-expanded="false" aria-controls="header-nav">
        <i class="header__trigger-icon" aria-hidden="true"></i>
        <span>Menu</span>
      </div>


      <nav class="header__nav js-header__nav" id="header-nav" role="navigation" aria-label="Main">

        <div class="header__nav-inner">

          <ul class="header__list">
            <li class="header__item"><a href="/" class="header__link">Home</a></li>
            <li class="header__item"><a href="/modules" class="header__link">Paths</a></li>
            <li class="header__item"><a href="/quests" class="header__link">Quests</a></li>
            <li class="header__item"><a href="/quiz-start" class="header__link">Quiz</a></li>
            <li class="header__item"><a href="/about-us" class="header__link">About us</a></li>
            <li class="header__item"><a href="/contact-us" class="header__link">Contact us</a></li>
            <li class="header__item header__item--divider" aria-hidden="true"></li>
            <% if(user!==undefined){%>

              <div class="user-tag" onclick="display()">

                <i class="fa fa-user icon "></i>
                <span class="name-of-user"><%-user%></span>
                <div class="log-out-card" id="logout-card">
                  <li class="header__item out-btn"><a href="logout" class="header__nav-btn mf1-btn mf1-btn--primary">Log
                      out</a></li>
                </div>
                <div class="log-out-btn-mob " id="logout-card">
                  <li class="header__item out-btn"><a href="logout" class="header__nav-btn mf1-btn mf1-btn--primary">Log
                      out</a></li>
                </div>

              </div>


              <%}%>
                <%if(user===undefined){%>
                  <li class="header__item"><a href="register" class="header__nav-btn mf1-btn mf1-btn--primary">Log
                      in</a></li>

                  <%}%>

          </ul>
        </div>
      </nav>

    </div>
  </header>
  <div class="log-out-card" id="user-tag">
    <div class="log-out-btn">
      <li class="header__item out-btn"><a href="logout" class="header__nav-btn mf1-btn mf1-btn--primary">Log out</a>
      </li>
    </div>
  </div>



  <%- include('partials/loader.ejs') %>

    <section class='hc4-position-relative hc4-z-index-1 hc4-padding-y-xl'>
      <%- quests.questArt %>
    </section>
</body>
<script src="js/index.js"></script>

</html>