<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/css/quests.css'>
    <link rel='stylesheet' href='/css/loader.css'>
    <%- include('./partials/head.ejs') %>

    <title>Quests</title>
</head>
<body>
    <%- include('partials/loader.ejs') %>

    <section class='hc4-position-relative hc4-z-index-1 hc4-padding-y-xl'>
        <div class='hc4-container hc4-max-width-adaptive-md'>
          <div class='hc4-margin-bottom-xl'>
            <h1 class='hc4-text-center'>Setup Your Laptop For Web Development</h1>
          </div>
      
          <ol class='hiw-list'>
            <li class='hiw-list__item'>
              <div class='hiw-list__item-inner'>
                <div class='hiw-list__counter' aria-hidden='true'></div>
        
                <div class='hc4-flex-grow'>
                  <div class='hiw-list__content hc4-grid hc4-gap-md hc4-items-center@md'>
                    <figure class='hc4-col-6@md'>
                      <img class='hc4-block hc4-width-100%' src='https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/visual-studio-code-icon.png' alt='Image description'>
                    </figure>
            
                    <div class='hc4-col-6@md'>
                      <div class='hc4-text-component'>
                        <h2 class='hc4-text-lg'>Download Vscode</h2>
                        <p class='hc4-color-contrast-medium'>Visual Studio Code (VSCode) is a lightweight, versatile code editor by Microsoft, favored for its speed, cross-platform compatibility, and rich customization options.
                            <a href='https://code.visualstudio.com/docs/setup/windows'>Click Here To Download</a> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
      
            <li class='hiw-list__item'>
              <div class='hiw-list__item-inner'>
                <div class='hiw-list__counter' aria-hidden='true'></div>
        
                <div class='hc4-flex-grow'>
                  <div class='hiw-list__content hc4-grid hc4-gap-md hc4-items-center@md'>
                    <figure class='hc4-col-6@md'>
                      <img class='hc4-block hc4-width-100%' src='https://cdn-icons-png.flaticon.com/512/4370/4370876.png' alt='Image description'>
                    </figure>
            
                    <div class='hc4-col-6@md'>
                      <div class='hc4-text-component'>
                        <h2 class='hc4-text-lg'>Customize Your Workbench</h2>
                        <p class='hc4-color-contrast-medium'>
                            VSCode extensions amplify the editor's capabilities, providing a quick way for users to customize their coding environment. From language support to tools and themes, these extensions enhance productivity and offer a tailored development experience.
                        <a href='https://code.visualstudio.com/docs/editor/extension-marketplace'>Follow the link to learn more</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
      
            <li class='hiw-list__item'>
              <div class='hiw-list__item-inner'>
                <div class='hiw-list__counter' aria-hidden='true'></div>
        
                <div class='hc4-flex-grow'>
                  <div class='hiw-list__content hc4-grid hc4-gap-md hc4-items-center@md'>
                    <figure class='hc4-col-6@md'>
                      <img class='hc4-block hc4-width-100%' src='/Resources/layout.png' alt='Image description'>
                    </figure>
            
                    <div class='hc4-col-6@md'>
                      <div class='hc4-text-component'>
                        <h2 class='hc4-text-lg'>Get Familiar With The Layout</h2>
                        <p class='hc4-color-contrast-medium'>At its heart, Visual Studio Code is a code editor. Like many other code editors, VS Code adopts a common user interface and layout of an explorer on the left, showing all of the files and folders you have access to, and an editor on the right, showing the content of the files you have opened.
                            <a href='https://code.visualstudio.com/docs/getstarted/userinterface'>Learn More</a>
                        </p>
                      </div>
      
                      
                    </div>
                  </div>
                </div>
              </div>
            </li>
            
          </ol>
        </div>
      </section>
</body>
</html>