<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/css/quests.css'>
    <link rel='stylesheet' href='/css/loader.css'>
    <%- include('./partials/head.ejs') %>

    <title>Quests</title>
</head>
<body>
    <%- include('partials/loader.ejs') %>

    <section class='hc4-position-relative hc4-z-index-1 hc4-padding-y-xl'>
        <%- quests.questArt %>
      </section>
</body>
</html>