<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <link rel="stylesheet" href="css\quiz-start.css">
</head>
<body>
  <div class="card-disply">
    <div class="card">
      <h1>
        Quiz
      </h1>
      <p>
        In this quiz you will have # questions <br>
        each question has 5 possible answers:<br>
        1- Strongly agree<br>
        2- agree<br>
        3- nuteral<br>
        4- disagree<br>
        5- Strongly disagree<br>
        And by the end the apropreat path will be shown to you 
  
      </p>
      <div class="buttons">
        <button class="back-home mf1-btn"> <a>Back home</a></button>
        <button class="start mf1-btn"><a href="quiz">Start</a></button>
      </div>
      
    </div>
  </div>
  
 
</body>
</html>