<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <link rel="stylesheet" href="css\quiz-start.css">
</head>

<body>
  <div class="card-disply">
    <div class="card">
      <h1>
        Quiz
      </h1>
      <p>
        In this quiz you will have 19 questions <br>
        each question has 4 possible answers:<br>
        1- A<br>
        2- B<br>
        3- C<br>
        4- D<br>

        And by the end the apropreat path will be shown to you

      </p>
      <div class="buttons">
        <a href="/"><button class="back-home mf1-btn">Back home</button></a>
        <a href="quiz"><button class="start mf1-btn">Start</button></a>
      </div>

    </div>
  </div>


</body>

</html>