<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/modulesStyle.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="css/About.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
        type='text/css'>
    <%- include("partials/head.ejs") %>
        <title>Story</title>
</head>

<body>
    <div class=bodycontainer>
        <div class="container">
            <h2 style="display: flex; justify-content: center;">The Code Crusader: From Hacking to Securing</h2>
            <br>
            <p style="display: flex; justify-content: center; margin-right: 60px; margin-left: 60px;">Kevin Mitnick is a
                unique person in the Cyber Security industry.
                He was once on FBI's Most Wanted list for having gained unauthorized access to major corporations'
                computers, software, cell phone manufacturers and ISPs,
                and for allegedly stealing software from Motorola, Nokia, Fujitsu and others.
                He was prosecuted numerous times for cracking, and in 1992 when authorities planned to arrest Mitnick
                for hacking into Pacific Bell, he went on a run.
                The Mitnick case became the first to test the laws surrounding cybersecurity by using different types of
                cybercrime, so it stands to reason that he's considered a very influential person in the history of
                cybersecurity.
                Today, Kevin Mitnick is a security consultant to the Fortune 500 and governments worldwide, even helping
                the FBI with his talents, intelligence and skill.
                He teaches classes about social engineering and has written several books on being "the world's most
                famous hacker."</p>

        </div>
    </div>

</body>

</html>