<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/modulesStyle.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="css/About.css">
    <link 
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
    rel="stylesheet"  type='text/css'>
    <%- include("partials/head.ejs") %>
    <title>Story</title>
</head>
<body>
    <div class = bodycontainer>
    <div class="container">
    <h2 style="display: flex; justify-content: center;">The Code Crusaders: Unleashing Cyber Success</h2>
    <br>
    <p style="display: flex; justify-content: center; margin-right: 60px; margin-left: 60px;">Abdulaziz and Faysal were two talented cybersecurity professionals who had always dreamed of making a significant impact in the industry. 
        They had met during a cybersecurity conference, where they immediately recognized each other's passion and expertise. 
        Despite coming from different backgrounds, Abdulaziz with a knack for penetration testing and Faysal with a deep understanding of network security, they quickly formed a strong bond.
        Over time, Abdulaziz and Faysal began noticing a common problem in the cybersecurity market. 
        Many organizations struggled to find reliable and comprehensive security solutions that could protect their digital assets effectively. 
        They realized that there was a significant gap between the existing cybersecurity products and the evolving threat landscape.
        Driven by their shared passion, Abdulaziz and Faysal decided to join forces and set out on a mission to revolutionize the cybersecurity market.
         They envisioned creating a company that would provide innovative and cutting-edge solutions tailored to meet the unique security needs of each organization.</p>

    </div>
    </div>

</body>
</html>